@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
  }
}
